<div class="container">

    <div *ngIf="authService.isConnected()">
        <button (click)="callCreatePays()" id="twitter-logo" mat-mini-fab
            aria-label="Example icon-button with a heart icon" color="primary">
            <mat-icon>create</mat-icon>
        </button>
    </div>
    <br><br><br>
    <div class="row">
        <div *ngFor="let p of poule" class="col-sm-4 my-font">
            <div class="card p-2" (click)="detailPoule(p)">
                <div class="row">
                    <div class="col-sm-4" *ngIf="mediaExist(p.baniere)">
                        <img [src]="changeFormatMedia(p.baniere)" width="100%" alt="banière">
                    </div>
                    <div class="col-sm-4" *ngIf="!mediaExist(p.baniere)">
                        <img src="/assets/img/1-r.png" width="50%" alt="banière">
                    </div>
                    <div class="col-sm-8">
                        <h5>{{ p.nom }}</h5>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>