<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="/assets/img/1-r.png" />
  <span>Welcome to Euro-Paris</span>
  <div *ngIf="!authService.isConnected()" style="margin-left: 500px;">
    <span><a routerLink='poule'>HOME</a></span>
  </div>
  <div class="spacer"></div>

  <div *ngIf="!authService.isConnected()">
    <button (click)="goConnexion()" id="twitter-logo" mat-mini-fab aria-label="Example icon-button with a heart icon"
      color="primary">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <div *ngIf="authService.isConnected()">
    <button (click)="authService.deconnect()" id="youtube-logo" mat-mini-fab
      aria-label="Example icon-button with a heart icon" color="accent">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</div>



<div class="container mt-80">
  <app-admin *ngIf="authService.isConnected()"></app-admin>
</div>

<router-outlet></router-outlet>