<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-fill w-100">
                <a class="nav-item nav-link" routerLink="poule" routerLinkActive="active">Poules </a>
                <a class="nav-item nav-link" routerLink="create-pays" routerLinkActive="active">Pays </a>
                <a class="nav-item nav-link" routerLink="xx" routerLinkActive="active">Match</a>
                <a class="nav-item nav-link" routerLink="xx" routerLinkActive="active">Autres</a>
            </div>
        </div>
    </nav>
</div>
<br><br><br>